<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 d-flex sign-up-left justify-content-center align-items-center">
      <div class="d-flex flex-column">
        <h2 class="display-5 my-5">SIGN UP</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :first_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "firstName" }%>
            <%= f.input :last_name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "lastName" }%>
            <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "username" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :photo, as: :file %>
          </div>

          <div class="form-actions d-flex justify-content-evenly align-items-center">
            <%= f.button :submit, "Sign up", class:"btn-main px-5 rounded" %>
            <%= link_to "Log in", new_session_path(resource_name), class:"btn-alt py-1 px-5" %><br />
          </div>

        <% end %>

        <%# <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="col-12 col-md-6 sign-up-right">
      <hr class="solid mb-3">
      <i class="fa-brands fa-itunes-note note"></i>
      <hr class="solid mb-3">
      <i class="fa-brands fa-itunes-note note-2"></i>
      <hr class="solid mb-5">


      <hr class="solid mb-4">
      <i class="fa-brands fa-itunes-note note-3"></i>
      <hr class="solid mb-1">
      <hr class="solid">
    </div>
  </div>

</div>
