<div class="song-banner p-3">
  <div class="album-img">
    <img src="<%= @album.images[0]['url'] %>" class="album-img ms-4 border border-dark border-4 p-2" alt="">
  </div>
  <div class="container song-container album-details">
    <div class="song-rating-box">
      <%= render "partials/rating-box", data:(@song.popularity/20.to_f).round(1)%>
    </div>
    <div class="song-details">
      <div class="song-name">
        <h1><%= @song.name%> </h1>
        <hr>
      </div>
      <h4 class="artist-nm"><%= @album.artists[0].name %></h4>
    </div>
  </div>
  <div class="song-review p-5" >
    <%= simple_form_for [ @song_review ] do |f| %>
      <%= f.input :description , as: :text, :input_html => { :rows => 3 }, placeholder: "Post a review here!", label: false%>
      <p class="rating-text border-bottom border-dark">Pick Your Rating!</p>
      <%= f.input :rating, collection: 0..5, label: false %>
      <%= f.input :title, as: :hidden, input_html: { value: @song.name }  %>
      <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.input :api_id, as: :hidden, input_html: { value: @song.id } %>
      <%= f.submit "Submit review", class: "btn-main px-5 rounded review-submit song-btn"%>
    <% end %>
  </div>
</div>
</div>


<div class= "container display-song-reviews">
  <h2 class="ms-3 mt-4">Hot Reviews</h2>
  <hr>
  <div class="display-reviews mt-2">
    <div class="reviews p-2">
      <% @reviews.each do |review|%>
        <div>
          <%= cl_image_tag User.find(review.user_id).photo.key, class:'review-user-image border border-dark ms-3'%>
          &nbsp;<%=User.find(review.user_id).first_name%> <%= User.find(review.user_id).last_name %>
        </div>
        <div class="display-album-reviews">
          <div class="album-description">
            <i class="fas text-muted fa-quote-left me-2"></i><%= review.description %> &nbsp;<i class="fas text-muted fa-quote-right me-2"></i>
          </div>
          <div class="album-rating">
            <%= render "partials/rating-box", data:review.rating%>
            <% if review.user_id == current_user.id %>
              <%= button_to "Delete", song_review_path(review.id), class: 'btn link-danger hover-icon', method: :delete%>
            <% end %>
          </div>
        </div>
        <hr>
      <%  end  %>
    </div>
  </div>
</div>
