<div class="ui vertical stripe segment <%= inverted  %>">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header segment-heading"><%= main_title %></h3>
        <p>
          <%= main_body %>
        </p>
        <h3 class="ui header segment-heading"><%= secondary_title %></h3>
        <p>
          <%= secondary_body %>
        </p>
      </div>
      <div class="six wide right floated column">
        <img class="ui large rounded image" src="<%= image_link %>">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
      </div>
    </div>
  </div>
</div>
