<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card mb-5" >
        <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center ">
          <div class="dot mb-2"></div>
          <%= image_tag("album", class:'album-image mb-3')  %>
          <h5>Album Title</h5>
          <span><i class="fa-solid fa-music"></i> 4.5</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card" >
        <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center ">
          <div class="dot mb-2"></div>
          <%= image_tag("album", class:'album-image mb-3')  %>
          <h5>Album Title</h5>
          <span><i class="fa-solid fa-music"></i> 4.5</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card" >
        <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center ">
          <div class="dot mb-2"></div>
          <%= image_tag("album", class:'album-image mb-3')  %>
          <h5>Album Title</h5>
          <span><i class="fa-solid fa-music"></i> 4.5</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card" >
        <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center ">
          <div class="dot mb-2"></div>
          <%= image_tag("album", class:'album-image mb-3')  %>
          <h5>Album Title</h5>
          <span><i class="fa-solid fa-music"></i> 4.5</span>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="card" >
        <div class="card-body p-2 d-flex flex-column justify-content-between align-items-center ">
          <div class="dot mb-2"></div>
          <%= image_tag("album", class:'album-image mb-3')  %>
          <h5>Album Title</h5>
          <span><i class="fa-solid fa-music"></i> 4.5</span>
        </div>
      </div>
    </div>
  </div>
</div>
