<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div class="col-10 col-sm-8 col-lg-6 relative-position">
    <%= cl_image_tag("Life_With_Music_a0o7ut",
      width: 700, height: 500, crop: :fill, class: 'd-block mx-lg-auto img-fluid clip-path-banner') %>
    <div class='icons-container'>
      <%= icon('fa-solid', 'backward', class: 'icons-play-banner')%>
      <%= icon('fa-solid', 'play', class: 'icons-play-banner')%>
      <%= icon('fa-solid', 'forward', class: 'icons-play-banner')%>
    </div>
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3"> Made For You, By Music Lovers  </i>
  </i></h1>
<p class="lead">Noted is a music website for music lovers to express their opinions about music, share saved music and look at user reviews, this is why they choose noted.
  Be apart of a music community and share the music they love.</p>
<%= form_tag search_path, method: :get do %>
  <div class="input-group mb-3">
    <%= text_field_tag :searchText, params[:searchText], class: "form-control", placeholder: "Search"%>
    <%= submit_tag "Search", class: "btn btn-outline-primary" %>
  </div>
<% end %>
</div>
