<div class="container-fluid user-banner">
  <div class="row">
    <div class="col col-sm-12 col-md-6 my-5" >
      <div class="user-banner-left d-flex flex-column justify-content-center align-items-center">
        <img src="https://i.pravatar.cc/300" class='profile-img mb-5'>
        <button class="btn-main py-1 px-5 rounded border-0">Edit Profile</button>
      </div>
    </div>
    <div class="col col-sm-12 col-md-6 d-flex align-items-center">
      <div class="user-banner-right d-flex flex-column justify-content-between">
        <div class="fs-1">
          <%=@user.first_name %>
          <%= @user.last_name %>
        </div>
        <hr class="solid mb-3">
        <h5>Bio</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, deserunt quae? Blanditiis veritatis perspiciatis earum molestias mollitia cumque eum <quos class=""></quos></p>
        <div class="user-info d-flex flex-column">
          <span>Posted Reviews: <%= @count.count %></span>
          <span>Rated Albums: 20</span>
          <span>Rated Songs: 45</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5" id="recent-reviews">
  <div class="d-flex justify-content-between align-items-end">
    <h2 class="fs-2">Your Recent Reviews</h2>
    <a href="" class="btn-main rounded py-1 px-5">See More</a>
  </div>

  <hr class="solid mb-3">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div>
        <div>
          <%= @album_reviews[-1].rating %>
          <%= @album_reviews[-1].title %>
        </div>
        <%= @album_reviews[-1].description %>
      </div>
    </div>

    <div class="col-sm-6 align-self-center">
      <%= render "partials/quad_tracks", data:@album_reviews, class:"d-flex align-items-end justify-content-end" %>
    </div>
  </div>
</div>
