<div class="container-fluid user-banner">
  <div class="row">
    <div class="col col-sm-12 col-md-6 my-5" >
      <div class="user-banner-left d-flex flex-column justify-content-center align-items-center">
        <img src="https://i.pravatar.cc/300" class='profile-img mb-5'>
        <button class="btn-main py-1 px-5 rounded border-0">Edit Profile</button>
      </div>
    </div>
    <div class="col col-sm-12 col-md-6 d-flex align-items-center">
      <div class="user-banner-right d-flex flex-column justify-content-between">
        <div class="fs-1">
          <%=@user.first_name %>
          <%= @user.last_name %>
        </div>
        <hr class="solid mb-3">
        <h5>Bio</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, deserunt quae? Blanditiis veritatis perspiciatis earum molestias mollitia cumque eum <quos class=""></quos></p>
        <div class="user-info d-flex flex-column">

          <div class="d-flex flex-column">
            <span class="">Rated Reviews:</span>
            <span class="fw-bold fs-2"><%= @album_reviews.count +  @song_reviews.count %></span>
          </div>

          <div class="d-flex flex-column">
            <span>Rated Albums:</span>
            <span class="fw-bold fs-2"> <%= @album_reviews.count  %></span>
          </div>

          <span>Rated Songs: <%= @song_reviews.count %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5" id="recent-reviews-album">
  <div class="d-flex justify-content-between align-items-end">
    <h2 class="fs-2">Your Recent Album Reviews</h2>
    <a href="" class="btn-main rounded py-1 px-5">See More</a>
  </div>

  <hr class="solid mb-3">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div>
        <div class="mb-3 d-flex align-items-end">
          <%= render "partials/rating-box", class: "me-5", data:@album_reviews[-1]&.rating %>
          <h5><%= @album_reviews[-1]&.title %></h5>
        </div>
        <%= @album_reviews[-1]&.description %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render "partials/quad_tracks", data:@album_reviews, class:"d-flex align-items-end" %>
    </div>
  </div>
</div>

<div class="container mt-5" id="recent-reviews-song">
  <div class="d-flex justify-content-between align-items-end">
    <a href="" class="btn-main rounded py-1 px-5">See More</a>
    <h2 class="fs-2">Your Recent Song Reviews</h2>
  </div>

  <hr class="solid mb-3">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div>
        <div class="mb-3 d-flex align-items-end">
          <%= render "partials/rating-box", class: "me-5", data:@song_reviews[-1]&.rating %>
          <h5><%= @song_reviews[-1]&.title %></h5>
        </div>
        <%= @song_reviews[-1]&.description %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render "partials/quad_tracks", data:@song_reviews, class:"d-flex align-items-end" %>
    </div>
  </div>
</div>
