<%= render 'partials/hero_banner' %>
<div class='ui container'>
  <%= render 'partials/heading_component', {title: "Popular Reviews"} %>
  <!-- Popular Reviews -->
  <div class="ui link cards">
    <% @popular.each do |result| %>
      <div class="card"><%= render 'partials/cards', {results: result} %></div>
    <% end %>
  </div>
  <!-- Friend Reviews -->
  <%= render 'partials/heading_component', {title: "Random Picks"} %>
  <div class="ui link cards">
    <% @friend.each do |result| %>
      <div class="card"><%= render 'partials/cards', {results: result} %></div>
    <% end %>
  </div>
  <div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
  </div>
</div>
