<%= render "partials/hero" %>
<figure class='relative-home box-figure'>
<img src='https://res.cloudinary.com/dh8a307rs/image/upload/v1657977019/guitar-playing_jimrva.png' class='music-man'>
 <figcaption class='music-man-caption'>Oooo Looks who is trending</figcaption>
</figure>>
<div class='container'>
  <h2 class='m-3 homepage-heading'>Popular Reviews</h2>

  <hr/>
  <div class='row'>
    <% @artists.each do |artist| %>
      <div class='col mb-4 d-flex justify-content-center'>
        <a href=<%="pages/search/#{artist.id}/artist"%> class='link-dark text-decoration-none'>
          <%= render "partials/card", data: artist %>
        </a>
      </div>
    <% end %>
  </div>
  <h2 class='m-3 homepage-heading'>Popular Albums</h2>
  <hr/>
  <div class='row'>
    <% @albums.each do |album| %>
      <div class='col mb-4 d-flex justify-content-center'>
        <a href=<%="/album_reviews/#{album.id}"%> class='link-dark text-decoration-none'>
          <%= render "partials/card", data: album %>
        </a>
      </div>
    <% end %>
  </div>
