<%= render partial: 'partials/card' %>
<%= render partial: 'partials/review-box' %>
<%= render partial: 'partials/song-squares' %>
<%= render partial: 'partials/card-grid'%>
<%= render partial: 'partials/recent-reviews-grid'%>
<!-- Scroll Button -->
<div>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
</div>
<% if user_signed_in? %>
  <%= link_to "logout", destroy_user_session_path, method: :delete  %>
<% end %>
